*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    padding: 20px 6%;
}

.footer-icons{
    display: flex;
    gap: 20px;
    margin: 40px 0;
}

.footer-icons img{
    width: 30px;
    cursor: pointer;
}

.footer ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    list-style: none;
}
.copyright-text{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border-top: 2px solid blueviolet;
    padding-top: 20px;
}