*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgba(0, 0, 0, 0.541);
    color: white;
}

.hero{
    position: relative;
}

.banner-img{
    width: 100%;
    mask-image: linear-gradient(to right , transparent, rgba(77,76,76))75%;
    -weblit-mask-image: linear-gradient(to right , transparent, rgba(77,76,76))75%;
}

.hero-caption{
    position: absolute;
    padding-left: 6%;
    width: 100%;
    bottom: 0;
}

.caption-img{
    width: 90%;
    max-width: 300px;
    margin-bottom: 30px;
}
.hero-caption p{
    font-size: 17px;
    max-width: 500px;
    margin-bottom: 20px;
}

.hero-btns{
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.hero-btns .btn{
    display: flex;
    align-items: center;
    padding: 8px 20px;
    gap: 10px;
    border: 0;
    outline: 0;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    margin-bottom: 400px;
}

.hero-btns .btn-dark{
    background: gray;
    color: white;
}
.hero-btns .btn:hover{
    background: gray;
    color: white;
}
.hero-btns .btn-dark:hover{
    color: black;
    background:white;
}