*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   color: white;
   font-family: monospace;
}

.login{
   height: 150vh;
   background-image:linear-gradient(to left, transparent,rgba(19, 18, 18, 0.87)75%),url(./iweek-cover-image3.png);
   background-size: cover;
   background-position: top center;
   padding: 50px 8%;
}


.login-form{
   width: 100%;
   max-width:450px;
   background: rgba(0, 0, 0, 0.815);
   padding: 60px;
   margin: auto;
   border-radius: 4px;
}

.login-form h1{
   font-size: 32px;
   font-weight: bold;
   margin-bottom: 28px;
   text-align: center;
}

.login-form input{
   width: 100%;
   height: 50%;
   margin: 12px 0;
   padding: 16px 20px;
   font-size: 16px;
   font-weight: 500;
   border: 0;
   outline: 0;
   border-radius: 4px;
   background: #33333388;
   color: white;
}
.login-form input::placeholder{
   font-size: 16px;
   font-weight: 500;
}

.login-form button{
   width: 100%;
   padding: 16px;
   margin-top: 20px;
   border: 0;
   outline: 0;
   border-radius: 4px;
   cursor: pointer;
   font-size: 16px;
   font-weight: 500;
   background: blueviolet;
   color: white;
   &&:hover{
      background: white;
      color: black;
   }
}

.form-help{
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 13px;
}

.remember{
   display: flex;
   gap: 10px;
   align-items: center;
}
.remember input{
   width: 18px;
   height: 18px;
}

.form-switch{
   margin-top: 40px;
   text-align: center;
}

.form-switch span{
   font-size: 32px;
   font-weight: bold;
   cursor: pointer;
}
